# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build Outputs
# =========================
dist/
build/
coverage/

.maps/*
/experiments/
/data/reference/
/data/labels/.maps/
/data/labels/*.qmd
/apps/web/public/melissa-damage.geojson
/melissa_package.gpkg
/melissa_package.gpkg-shm
/melissa_package.gpkg-wal
*.gpkg-shm
*.gpkg-wal
/scripts/__pycache__/
/apps/web/.output/
.wrangler/

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Testing
# =========================
coverage/
.nyc_output/

# =========================
# Package manager
# =========================
.yarn/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# =========================
# Vite
# =========================
vite.config.ts.timestamp-*
vite.config.js.timestamp-*

# =========================
# Mapbox Tokens / Secrets
# =========================
.env*
